@import url("https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap");

body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

a {
  text-decoration: none;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}

#logins {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form label {
  margin-bottom: 10px;
}

#login-form input[type="email"],
#login-form input[type="password"],
#login-form a {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
}

#login-form label {
  display: block;
  margin-bottom: 5px;
}

#mail {
  margin-right: 280px;
}

#mdp {
  margin-right: 245px;
}

#login-form input[type="email"],
#login-form input[type="password"] {
  display: block;
  width: 379px;
  height: 32px;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login-form input[type="submit"],
#login-form a {
  margin-top: 10px;
  margin-left: 190px;
  font-family: "Work Sans";
  color: #3d3d3d;
}

button {
  margin-top: 30px;
  background: #1d6154;
  border-radius: 60px;
  width: 179px;
  height: 36px;
  color: #fff;
}
