/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

.titre-top {
  padding-bottom: 50px;
  padding-top: 40px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
/** Création de la topBar et de ses sous éléments**/
.topbar-style {
  position: absolute;
  top: 0px;
  left: 0;
  height: 59px;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bouton-edition {
  font-family: "Work Sans";
  display: flex;
  flex-direction: row-reverse;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  position: relative;
  right: 50%;
  top: 8px;
  cursor: pointer;
}

.boutonEI {
  padding-right: 10px;
  cursor: pointer;
}

.bouton-changement {
  background: #ffffff;
  border-radius: 60px;
  position: relative;
  left: 50%;
  padding: 11px 23px;
  bottom: 8px;
  margin-left: 10px;
  cursor: pointer;
}
/** Création du style d'éléments enfants aux header **/

.filterbar {
  margin: 110px 0 51px 250px;
  min-width: 700px;
  position: relative;
}

.filterbar button {
  margin-left: 10px;
  padding: 9px 28px;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background: #ffff;
  border: 1px solid #1d6154;
  border-radius: 60px;
  color: #1d6154;
}

.filterbar button:active {
  color: #fff;
  background: #1d6154;
}

#btn-modifier {
  position: relative;
  left: 700px;
  bottom: 102px;
  text-decoration: none;
  color: #000;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
}

#btn-modifier i {
  padding-right: 11.13px;
  font-size: 1rem;
}

#btn-modifier-2 {
  position: relative;
  bottom: 195px;
  right: 30px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

#btn-modifier-2 i {
  padding-right: 8px;
}

.button-modifier-hide {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper {
  background: #ffffff;
  border-radius: 10px;
  width: 630px;
  max-width: calc(100vh-20px);
  max-height: calc(100vh-20px);

  height: 731px;
  display: flex;
  flex-direction: column;
}

.modal-wrapper h3 {
  padding-top: 60px;
  padding-bottom: 46px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
}

#gallery-modal {
  position: relative;
  height: 104px;
  width: 78.12px;
  width: 100%;
  margin: 0px 106px 0px 95px;

  width: 100%;
  display: grid;
  grid-template-columns: 0.16fr 0.16fr 0.16fr 0.16fr 0fr;
  grid-column-gap: 0px;
  grid-row-gap: 15px;
}

#gallery-modal img {
  height: 105px;
  width: 79px;
}

#gallery-modal a {
  background-color: #000;
  color: #fff;
  height: 17px;
  width: 17px;
  margin-right: 2.2px;
  padding: 2.5px 2.5px 1px 2.5px;
  border-radius: 2px;
  position: relative;
  top: 25px;
  left: 35px;
}

.modif {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 380px;
}

#btn-modal1 {
  position: relative;
  width: 237px;
  height: 36px;
  left: 200px;
  background: #1d6154;
  border-radius: 60px;
  color: #fff;
  font-family: "Syne";
  font-size: 14px;
  border: 0;
}

#btn-modal2 {
  border: 0;
  position: relative;
  top: 23px;
  font-size: 12px;
  color: #d65353;
  font-family: "Syne";
  font-weight: 400;
  font-style: normal;
}

#fermer {
  border: 0;
  background: none;
  position: relative;
  bottom: 110px;
  left: 280px;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
  color: black;
}

/*** Eléments class pour modal.js concernant la partie "ajout de photo" de la modal ***/

.title-modal-loadpicture {
  position: relative;
  left: 10px;
}

.imgI-style {
  position: relative;
  bottom: 20px;
  font-size: 4rem;
  color: #b9c5cc;
}

.div-modal-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  position: relative;
  bottom: 375px;
}

#bouton-ajout {
  background-color: #cbd6dc;
  height: 36px;
  width: 173px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  font-family: "Work Sans";
  position: relative;
  font-size: 14px;
  font-weight: 500;
}

#sous-titre-btnmodal {
  position: relative;
  top: 7px;
  font-size: 10px;

  font-family: "Work Sans";
  color: #444444;
}

.fleche-modal-style {
  position: relative;
  right: 350px;
  bottom: 40px;
}

#input-titre-style,
#input-categorie-style {
  height: 51px;
  width: 420px;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: 1px solid black;
}

#input-titre-style {
  top: 65px;
}

#input-categorie-style {
  top: 97px;
}

#label-titre-style,
#label-categorie-style {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  position: relative;
}

#label-titre-style {
  bottom: 10px;
  right: 197px;
}

#label-categorie-style {
  top: 92px;
  right: 177px;
}

#btn-valider-style {
  background: #a7a7a7;
  border-radius: 60px;
  height: 36px;
  width: 237px;
  position: relative;
  top: 157px;
  border: 0;
  text-align: center;
  font-size: 14px;
  font-family: "Syne";
  font-weight: 700;
  color: #ffffff;
}
